$textarea-color: #e0e0e0;
$red : #dd0000;
$auth-color: #ccc;
$auth-heading: #677173;
$subscribebox-color: #cfcfcf;
$warning-color: red;
$border-color: #000;
$auth-btn: #cecfd1;
$auth-btn-color: #538639;
$error-message-color: red;
$background: #ecf0f5;
$field-color: #fff;
$hover-text-color: #23527c;
$top-header-color: rgba(255, 255, 255, 0.95);
$box-shadow-color: rgba(37, 37, 37, 0.33);
$top-header-background: #374047;
$top-header-menu-color: #548639;
$top-header-box-shadow: rgba(0, 0, 0, 0.5);
$nav-item-color: #749662;
$sticky-nav-item-color: #ffffff;
$menu-item-background-color: #89c541;
$hover-box-color: #147a14;
$hover-box-curriculums: #589952;
$grey-color: grey;
$lessons-menu-color: #767676;
$remote-tab-color: #FF8500;
$model-intro-color: #d3611c;
$section-title-color: #383f45;
$right-content-color: #333333;
$listing-item-border-color: #111;
$standards-listings-color: #e2e2e2;
$progress-intro: #ddd;
$progress-dev: #a5a5a5;
$progress-assess: #505050;
$border-bottom-color: #aaa;
$grey-background: #f2f2f4;
$modal-bottom-color: #e5e5e5;
$btn-type-ppt: #ffe601;
$btn-type-pdf: #eb6804;
$link-color: #337ab7;
$pe-box-color: #333;
$pe-green-background: #357d47;
$pe-blue-background: #0066b3;
$google-copy-button: #4c8bf5;
$tips-box-background-ccc: #d6e3bc;
$tips-box-background-sep: #b8cce4;
$english-color: #FF5609;
$spanish-color: #15ADCB;
$popup-color: rgb(0 0 0 / 28%);
$tooltip-shadow: rgb(0 0 0 / 10%);
$login-separator-color: #070707;
$clever-btn-color: #4374f6;
$lesson-intro-background: #d7ecc5;
